ul.promo-code {
    list-style-type: none;
    border: 1px solid gray;
    margin-left: 0;
    padding-left: 0;
}
ul.promo-code li {
    padding: 20px;
}
ul.promo-code li:first-child {
    color: green;
    border-bottom: 1px solid gray;
}
ul.promo-code li span {
    display: inline-block;
    width: 200px;
}

#previous,
#checkout-payment,
#pay-now {
    display: none;
}

.error {
    color: red;
}
